html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* line-height: 1; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 1.000em;
  font-family: Lato, sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A6B1C3;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  color: #ffffff;
  text-align: center;
}
.header__logo {
  font-size: 3.675em;
}
.header__slogan {
  text-transform: uppercase;
  text-shadow: 0 1px 1px #3c3c3c;
  font-weight: 700;
  font-size: 3.375em;
  letter-spacing: 6px;
  margin-bottom: 10px;
}
.header__slogan span {
  display: block;
}
.header__slogan_small {
  margin: 0 auto;
  text-shadow: none;
  font-size: 0.848em;
  letter-spacing: normal;
  font-weight: 400;
  width: 500px;
}
@media (max-width: 500px) {
  .header__slogan_small {
    width: 99%;
  }
}
@media (max-width: 360px) {
  .header__slogan_small {
    display: none;
  }
}
.header__anchor {
  display: block;
  margin: 0 auto;
  width: 23px;
}
.header__anchor:focus {
  outline-offset: 4px;
  outline-width: 2px;
}
.container {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #3c3c3c;
  border-top: 0;
}
@media (max-width: 960px) {
  .container {
    width: 920px;
  }
}
@media (max-width: 920px) {
  .container {
    width: 95%;
  }
}
.article {
  padding: 100px 0;
  text-align: center;
  color: #3c3c3c;
}
.article__title {
  width: 100%;
  padding: 0 50px;
  font-weight: 700;
  font-size: 2.125em;
  text-transform: uppercase;
  word-spacing: 4px;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.article__title:after,
.article__title:before {
  width: 30%;
  height: 1px;
  background-color: #3c3c3c;
  display: block;
  content: "";
  top: 50%;
  position: absolute;
}
@media (max-width: 640px) {
  .article__title:after,
  .article__title:before {
    width: 20%;
  }
}
.article__title:after {
  right: 0;
}
.article__title:before {
  left: -1px;
}
.article__content {
  line-height: 1.5;
  font-weight: 300;
  padding: 25px 30px 50px;
  margin: 0 auto;
}
.article__content_management {
  padding-top: 0;
}
@media (max-width: 920px) {
  .article__content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 640px) {
  .article__content {
    padding-left: 3%;
    padding-right: 3%;
  }
}
.article__projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.article__link_mail {
  margin: 20px auto 0;
  width: 50%;
  display: block;
  padding: 10px 0;
  outline: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.05em;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  text-decoration: none;
  font-weight: 400;
}
.article__link_mail:hover,
.article__link_mail:focus {
  cursor: pointer;
  background-color: #ffffff;
  color: #3c3c3c;
}
@media (max-width: 768px) {
  .article__link_mail {
    width: 100%;
  }
}
.article_services {
  background-image: url("../img/services.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  color: #ffffff;
}
.article_services .container {
  border-color: #ffffff;
}
.article_services .article__title:after,
.article_services .article__title:before {
  background-color: #ffffff;
}
.article_works {
  padding: 0;
}
.section__icon {
  margin-bottom: 20px;
  display: initial;
}
.section__title {
  font-weight: 700;
  font-size: 1.250em;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.projects-list__item {
  width: 33%;
  margin-bottom: 5px;
}
@media (max-width: 920px) {
  .projects-list__item {
    width: 49.5%;
  }
}
@media (max-width: 640px) {
  .projects-list__item {
    width: 99%;
  }
}
.projects-list__link {
  display: block;
  position: relative;
}
.projects-list__link:after {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 50%;
  content: attr(data-title);
  font-size: 3em;
  color: #ffffff;
  opacity: 0;
  text-shadow: 0 1px 2px #3c3c3c;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.projects-list__link:hover:after,
.projects-list__link:focus:after {
  opacity: 1;
}
.footer {
  color: #3c3c3c;
  text-align: center;
  padding: 15px 0;
}
